.form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #424242;
  width: 15rem;
  padding: 1rem;
}

.form-content .input-field {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.form-content .form-label {
  width: 5rem;
  margin-left: auto;
}

.form-content .form-input {
  margin-left: auto;
  height: 1.2rem;
  font-size: 0.8rem;
  padding-left: 10px;
}

.form-content .form-input:focus {
  outline: none;
}

.form-content .form-button {
  background-color: #424242;
  color: white;
  font-weight: bold;
  width: 8rem;
  height: 1.5rem;
}

.tip {
  padding: 10px;
  background: #333;
  color: #fff;
}
.tip .delete {
  color: hotpink;
  font-size: 0.8em;
}
