.brush {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brush h2 {
  margin-bottom: 2rem;
}

.brush .brush-svg {
  display: block;
  overflow: visible;
  height: 300px;
  width: 80vh;
}

.brush .brush-data {
  margin-top: 2rem;
}

.brush .button {
  margin: 2rem;
  width: 6rem;
}
