#root {
  box-sizing: border-box;
}

.basics-svg {
  display: block;
  overflow: visible;
  width: 100%;
}

.svg-wrapper {
  margin-bottom: 2rem;
}

svg,
.svg {
  display: block;
  overflow: visible;
  width: 100%;
}
