.basics {
  display: flex;
  flex-direction: column;
}

.basics .svg-wrapper {
  margin: 30px;
}

.basics .basics-svg {
  background-color: #eee;
}

.basics .basics-buttons {
  margin-top: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.basics .basics-button {
  width: 100px;
  margin: 0 1rem;
}
