.basics {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.basics .svg-wrapper {
  margin: 30px;
}

.basics .basics-svg {
  display: block;
  background-color: #eee;
  overflow: visible;
  width: 100%;
}

.basics .basics-buttons {
  margin-top: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.basics .basics-button {
  width: 100px;
  margin: 0 1rem;
}
